 <div class="container-fluid mt-4 ">
      <div class="row">
        
        <div class="col-sm-6" style="background-color: #f2f2f2;">
          <img src="https://images.unsplash.com/photo-1611648694964-a4cbd6ab1c70?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80 464w, https://images.unsplash.com/photo-1611648694964-a4cbd6ab1c70?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80 764w, https://images.unsplash.com/photo-1611648694964-a4cbd6ab1c70?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80 928w, https://images.unsplash.com/photo-1611648694964-a4cbd6ab1c70?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1064&q=80 1064w, https://images.unsplash.com/photo-1611648694964-a4cbd6ab1c70?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1364&q=80 1364w, https://images.unsplash.com/photo-1611648694964-a4cbd6ab1c70?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1528&q=80 1528w, https://images.unsplash.com/photo-1611648694964-a4cbd6ab1c70?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1664&q=80 1664w, https://images.unsplash.com/photo-1611648694964-a4cbd6ab1c70?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1964&q=80 1964w, https://images.unsplash.com/photo-1611648694964-a4cbd6ab1c70?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2128&q=80 2128w, https://images.unsplash.com/photo-1611648694964-a4cbd6ab1c70?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2264&q=80 2264w, https://images.unsplash.com/photo-1611648694964-a4cbd6ab1c70?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2564&q=80 2564w, https://images.unsplash.com/photo-1611648694964-a4cbd6ab1c70?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2728&q=80 2728w, https://images.unsplash.com/photo-1611648694964-a4cbd6ab1c70?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2864&q=80 2864w, https://images.unsplash.com/photo-1611648694964-a4cbd6ab1c70?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3164&q=80 3164w, https://images.unsplash.com/photo-1611648694964-a4cbd6ab1c70?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3328&q=80 3328w, https://images.unsplash.com/photo-1611648694964-a4cbd6ab1c70?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3464&q=80 3464w, https://images.unsplash.com/photo-1611648694964-a4cbd6ab1c70?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3764&q=80 3764w, https://images.unsplash.com/photo-1611648694964-a4cbd6ab1c70?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3928&q=80 3928w, https://images.unsplash.com/photo-1611648694964-a4cbd6ab1c70?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=4000&q=80 4000w" alt="Image" class="img-fluid">
        </div>

        <div class="col-sm-6" style="padding: 50px;">
          <h2>Login</h2>
          <form method="POST" action="/check_login">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input type="password" class="form-control" id="pass" name="pass">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <h1>{{err}}</h1>
          </form>
        </div>
      </div>
</div>